[user]
	name = Sankar Gorthi
	email = sankar's email id
[core]
	excludesfile = ~/.gitignore_global
	ignorecase = false
[color]
    ui = true
    branch = true
[log]
	decorate = short
[alias]
	lol = log --pretty=format:'%C(yellow)%h|%Cred%ad|%Cblue%an|%C(auto)%d %Creset%s' --date=short  --graph
	lol2 = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	st = status -s
    ls = log --pretty=format:\"%C(yellow)%h%Cred%d %Creset%s%Cblue [%cn]\" --decorate --numstat
    com = checkout master
    co = checkout
    con = checkout -b
    ci = commit
    cm = commit -m
    ca = commit --amend
    aa = add --intent-to-add .
    ae = add -A
    ap = add -p
    di = diff
    dc = diff --cached
    po = push origin
    fpo = push origin --force
    pom = push origin master
    fpom = push origin --force master
    um = pull origin master
    us = pull sv master
    uo = pull origin
	rls = remote -v
    pm = rebase master
    pmi = rebase -i master
    pi = rebase -i
    br = branch
    bra = branch -a
[push]
    default = current
[diff]
    algorithm = patience
[credential]
    helper = store
[help]
	autocorrect = 1
